bin/
build/
out/
reports/
out/
.classpath
.project
.settings
.gradle
.metadata
derbyDB
pyvenv.cfg
test_database*
*.log
.emacs.*
.lock
.cache-main

.DS_Store
*.iws
*.ipr
*.iml
/out/
/.settings/
.idea
.shelf

.recommenders
production/


